html
    head
        include pure.pug
        include fonts.pug
        style
            include css/navBar.css
            include css/headers.css
            include css/createUser.css
            include css/text.css
    body
        include navBar.pug
        h2 Create User
        div(id="create-user")
            form(method="post", class="pure-form pure-form-aligned")
                div(class="pure-control-group")
                    label#first-name First Name
                    input(type="text", name="first-name", placeholder="First Name")
                div(class="pure-control-group")
                    label#last-name Last Name
                    input(type="text", name="last-name", placeholder="Last Name")
                div(class="pure-control-group")
                    label#email-address Email Address
                    input(type="email", name="email-address", placeholder="Email Address")
                div(class="pure-control-group")
                    label#age Age
                    input(type="number", name="age", placeholder="Age")
                div(class="pure-controls")
                    input(type="submit", class="pure-button pure-button-primary")