html
    head
        include pure.pug
        include fonts.pug
        style
            include css/navBar.css
            include css/headers.css
            include css/editUser.css
            include css/text.css
    body
        include navBar.pug
        h2 Edit User
        div#edit-user
            form(method="post", class="pure-form pure-form-aligned")
                div(class="pure-control-group")
                    label#first-name First Name
                    input(type="text", name="first-name", value=user.first)
                div(class="pure-control-group")
                    label#last-name Last Name
                    input(type="text", name="last-name", value=user.last)
                div(class="pure-control-group")
                    label#email-address Email Address
                    input(type="email", name="email-address", value=user.emailaddress)
                div(class="pure-control-group")
                    label#age Age
                    input(type="number", name="age", value=user.age)
                div(class="pure-controls")
                    input(type="submit", class="pure-button pure-button-primary")