html
    head
        include fonts.pug
        include pure.pug
        style
            include css/navBar.css
            include css/headers.css
            include css/text.css
            include css/index.css
    body
        include navBar.pug
        h1 User Manager Heroku Postgres
        div#home-page-info
            h3 Current Functionality
            ul#ul-info
                li Create User
                li Edit User
                li Delete User
                li Search Users
                li Display Users By Category And Order
                li Other
                    ul
                        li Using a postgresql database locally or hosted on heroku