html
    body
        form(method="post")
            div
                label(id="author") Author
                input(type="text", name="author")
            div
                label(id="book_name") Book name
                input(type="text", name="book_name")
            div
                label(id="date_published") Date published
                input(type="text", name="date_published")
            div
                input(type="submit")