div(class="pure-menu pure-menu-horizontal", id="pure-nav-bar")
    ul(class="pure-menu-list")
        li(class="pure-menu-item")
            a(href="/functionality", class="pure-menu-link") Functionality
        li(class="pure-menu-item")
            a(href="/createUser", class="pure-menu-link") Create User
        li(class="pure-menu-item")
            a(href="/userList", class="pure-menu-link") User List