#login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    align-items: center;
    border: 2px solid #cbcbcb;
    border-radius: 8px;
}

#login-info {
    border-left: 2px solid #cbcbcb;
}

#log-in, #login-info {
    padding: 20px;
}

.info {
    margin: 5px 0;
}